body{
	background-size: cover;
	background-repeat: repeat;
	background-attachment: scroll;
	background-color: #191919;
}
.center-signin{
	padding: 1%;
	width: 30%;
    background-color:white;
	margin:auto;
	margin-top: 6%;
	border: 5px;
	background-attachment: fixed;
}

.h1{
	margin: 15px;
	font-size: 25px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	color: #191919;
}
.radio{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-left: 23%;
}
.center-signin label{
	font-size: 18px;
	border-width: 5px;
	
}
.center-signin .form-control{
	width: 100%;
	height: 30px;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;

}

input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

input[type="password"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
  
.center-signin button{
	width: 100%;
	height: 35px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-color: #1DE9B6;	
	background-color: #1DE9B6;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}
.center-signin .forgot{
	margin-left: 7%;
	text-align: center;
	color: black;
}
.fa-user-circle-o{
	position: absolute;
	margin-top: -35px;
	margin-left: 10px;
}
.fa-key{
	position: absolute;
	margin-top: -35px;
	margin-left: 10px;
}





