body{
	background-size: cover;
	background-repeat: repeat;
	background-attachment: scroll;
	background-color: #191919;
}
.center-signin{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    background-color:white;
	
	margin-top: 10%;
	border: 5px gray;
	border-color: black;
	background-attachment: fixed;


}
.center-signin img{

	
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;width: 150px;
	height: 100px;
	margin:0 auto; 

}
.center-signin h1{
	margin: 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
	color: #191919;
}
.radio{
	margin-left: 23%;
}
.center-signin label{
	align-self: center;
	font-size: 18px;
	border-width: 5px;
	border-color: gray; 
}
.center-signin .form-control{
	width: 85%;
	height: 30px;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 60px;
	
}

.center-signin .checkbox{

	margin-left: 55px;
}
.center-signin button{
	width: 86%;
	height: 35px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 59px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: white;
    border-color: #1DE9B6;
	background-color: #1DE9B6;
}
.center-signin .forgot{
	margin-left: 1%;
	text-align: center;
	color: black;
}
